
*.iml

.idea/workspace.xml

.idea/vcs.xml

.idea/uiDesigner.xml

.idea/scopes/scope_settings.xml

.idea/modules.xml

.idea/misc.xml

.idea/.name

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/encodings.xml

.idea/libraries/Maven__javax_activation_activation_1_1.xml

.idea/libraries/Maven__javax_mail_mail_1_4_1.xml

.idea/libraries/Maven__log4j_log4j_1_2_14.xml

.idea/libraries/Maven__org_subethamail_subethasmtp_smtp_1_2.xml

.idea/libraries/Maven__org_subethamail_subethasmtp_wiser_1_2.xml
